.bg-container
{
	background-image: url("https://images.pexels.com/photos/1268855/pexels-photo-1268855.jpeg");
	background-size: cover;
	height: 100vh;

}
.card-tourism
{
	text-align: center;
	background-color:white;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	padding: 50px;
	
	
}
.button
{
	height:36px;
	width: 138px;
	background-color:#25b1cc;
	border-radius: 25px;
	color:white;
	border-width: 0px;
}

.main-heading
{
	color: #25b1cc;
	font-style: italic;
	font-weight: bold;
	font-size: 36px;

}
.paragraph
{
	color: rgb(41, 41, 41);
	
}

.places-bg-container
{
	background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
	height:100vh;
	background-size: cover;
	margin: 0px;
}
.places-heading
{
		color: #ffff;
		font-family:'Roboto';
		font-size: 28px;
		font-weight: bold;
		padding: 25px;
}
.place-card-container
{
	background-color: #ffff;
	border-radius: 10px;
	padding: 16px;
	margin: 10px;
	
}
.place-card-heading
{
	color:#0f0e46;
	font-family:'Roboto';
	font-size: 23px;
	font-weight: bold;
}
.place-card-description
{
	color: #6c6b70;
	font-family: 'Roboto';
	font-size: 13px;
}
.places-card-image
{
	display: flex;
	flex-direction: row;
	justify-content: end;
	height: 100px;
	width: 80px;
}
.view-card
{
	background-color: white;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	margin: 15px;
    padding:15px;
	
}
.view-heading
{
	color:#0f0e46;
	font-family: "Roboto";
	font-weight: bold;
	font-size: 28px;
}
.view-card-description
{
	color: #6c6b70;
	font-family: "Roboto";
	font-size: 13px;

}

